@import '../../styles/Style.scss';

.tags { margin-top: 25px;
        width: 50%;
        &__container { align-items: center; 
                       display: flex;
                       gap : 20px;
                       &-item { align-items: center;
                                background-color: $main-color;
                                border-radius: 10px;
                                color: $text_white;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 5px 30px;                 
                              }
                     }
      }