@import '../../styles/Style.scss';

.logementscard-container { display: flex;
                           flex-direction: column;
                           margin: 50px auto;
                           max-width: 1240px; 

                           .logementscard-information-container { display: flex;
                                                                  justify-content: space-between;
                                                                  width: 100%;

                                                                  .logementscard-information { width: 50%;
                                                                                               h2 { color: $main-color;
                                                                                                    font-size: 36px;
                                                                                                    font-weight: 500;
                                                                                                  } 
                                                                                               
                                                                                               p { color: $main-color;
                                                                                                   font-size: 18px;
                                                                                                   font-weight: 500;
                                                                                                 }   

                                                                  }                                         
                                                                }
                           .logementscard-host-container {  align-items: flex-end;
                                                            display: flex;
                                                            flex-direction: column;
                                                            width: 50%;

                                                           .host-id { align-items: center;
                                                                      display: flex;
                                                                      gap: 20px;
                                                                      width: 30%;  

                                                                      p { color: $main-color;
                                                                          font-size: 18px;
                                                                          font-weight: 500;
                                                                        }

                                                                      img { border-radius: 33px;
                                                                            height: 74px;
                                                                            width: 74px;
                                                                          }  
                                                                    } 

                           } 

                           .logementscard-collapse-container { display: flex; 
                                                               gap: 50px; 
                                                               width: 100%; 
                                                             }

}