@import '../../styles/_Style.scss';

.collapse { align-items: center;
            color: $text_white;
            display: flex;
            flex-direction: column;
            margin: 40px auto;
            width: 65%;
            &__header { align-items: center;
                        background-color: $main-color;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 20px 10px 10px;
                        width: 100%;
                        & h2 { font-size: 24px;
                               font-weight: 500;
                             }
                        &-button { background-color: $main-color;
                                   border: none;
                                 }
                      }
            &__content { background-color: $collapse-color;
                         border-radius: 0 0 10px 10px;
                         color: $main-color;
                         font-size: 18px;
                         margin-top: -40px;
                         max-height: 0; 
                         overflow: hidden;                    
                         padding: 20px;
                         transition: max-height 0.4s linear, margin-top 0.4s linear;
                         width: 100%;
                         z-index: -1;
                         &.open { margin-top: -6px;
                                  max-height: 400px;
                                  transition: max-height 0.4s linear, margin-top 0.4s linear;
                                }
                       }
            }
.collapse .chevron-up {transition: all 0.4s linear;}
.collapse.open .chevron-up {transform: rotate(-180deg);}