@import '../../styles/Style.scss';

.errorpage { align-items: center;
             display: flex;
             flex-direction: column;
             gap: 139px;
             margin: 100px;

             img { height: 263px;
                   width: 597px;
                 }
             
             p { color: $main-color;
                 font-size: 36px;
                 font-weight: 500;
               }

             a { color: $main-color;
                 font-size: 18px;
                 font-weight: 500;
               }
}